.root {
    -fx-background-color: #f4f5f7;
}

.login-form {
    -fx-alignment: center;
    -fx-padding: 45px;
    -fx-pref-width: 540px;
    -fx-max-width: 480px;
    -fx-max-height: 550px;
    -fx-background-color: white;
    -fx-border-color: #d9dee3;
    -fx-border-width: 1px;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;

}

.login-title {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 20px 0;
}

.login-input {
    -fx-pref-width: 320px;
    -fx-pref-height: 48px;
    -fx-background-color: white;
    -fx-border-color: #d9dcee3;
    -fx-border-width: 1px;
    -fx-border-radius: 7px;
    -fx-background-radius: 6px;
    -fx-padding: 0 12px;
    -fx-font-size: 14px;
}

.login-button {
    -fx-pref-width: 320px;
    -fx-pref-height: 48px;
    -fx-background-color: #005b63;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 7px;
    -fx-cursor: hand;
}

.login-button:hover{
    -fx-background-color: #00727a;
}

.login-checkbox {
    -fx-font-size: 13px;
}

.login-link {
    -fx-font-size: 13px;
    -fx-text-fill: #18202b;
}

.login-screen{
    -fx-background-color: #f8f8f8;

}

.login-left{
    -fx-background-color: #061827;
    -fx-background-image: url("../imagens/juris.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.login-right{
    -fx-background-color: #f7f8fa;
    -fx-shape: "M 80 0 L 1000 0 L 1000 1000 L 0 1000 Q 40 500 0 Z";
}

.login-title{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #101820;
}

.login-subtitle {
    -fx-font-size: 16px;
    -fx-text-fill: #667085;
    -fx-translate-y: -35px;
}

.input-label{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #101820;
}

.login-diagonal{
    -fx-background-color: #ffffff;
}
